-# widget.html.haml

!!! 5
%html
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: 'stylesheets/widget.css'}
  %body
    .background_container
      .widget_container
        .widget_border
          .widget_bg
            .current_weather
              City
            %table.weekly_forecast
              %thead
                %tr
                  %th SUN
                  %th MON
                  %th TUE
                  %th WED
                  %th THU
                  %th FRI
                  %th SAT
              %tbody
                %tr
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
                  %td
