-# widget.html.haml

!!! 5
%html
  %head
    %link{rel: 'stylesheet', type: 'text/css', href: 'stylesheets/widget.css'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'stylesheets/icons.css'}
  %body
    .background_container
      .widget_container
        %table.current
          %td.current_city San Francisco
          %td.current_weather
            .icon.day
          %td.current_temp 74&deg;
        %table.weekly_forecast
          %thead
            %tr
              %th SUN
              %th MON
              %th TUE
              %th WED
              %th THU
              %th FRI
              %th SAT
          %tbody
            %tr
              %td
                .icon.day
                .temp 74&deg;
              %td
                .icon.cloudy
                .temp 64&deg;
              %td
                .icon.day
                .temp 76&deg;
              %td
                .icon.cloudy
                .temp 68&deg;
              %td
                .icon.fog
                .temp 65&deg;
              %td
                .icon.rain
                .temp 62&deg;
              %td
                .icon.rainstorm
                .temp 60&deg;
